/* Heebo font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/* Poppins font (with italic style)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color Plate */
:root {
    --textColor: #FFFFFF;
    /* Colors*/
    --darkPurple: #06021B;
    --naturalBlue: #2196f3;
    --darkPink: #e91e63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./sass files/header";

@import "./sass files/home";

@import"./sass files/about";

@import"./sass files/contact";

@import"./sass files/gallery";

@import "./sass files/footer";

@import "./sass files/transition";