$background_color_1: #0EE1E1;
$background_color_2: #FFFFFF;
$background_color_3: #F8F8F8;
$background_color_4: #F0FFFF;
$background_color_5: #E5EEFF;

$text_color_1: #000000;
$text_color_2: #0EE1E1;
$text_color_3: #090909;
$text_color_4: #2C2C2C;