.whatsapp {
    position: fixed;
    margin: 30px;
    border-radius: 50%;
    background: $background_color_2 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.whatsapp img{
    padding: 20px;
}