#gallery {
    background: var(--darkPurple);
    color: var(--textColor);
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

#gallery h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 120px;
}

#gallery h3 {
    font-size: 2em;
    font-weight: 400;
    padding: 30px;
}

.container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    margin: 0 auto;
}

#gallery div button {
    height: 50px;
    width: 50px;
    margin: 100px;
    font-size: 3em;
    color: var(--darkPurple);
    background: linear-gradient(45deg, var(--naturalBlue), var(--darkPink));
    cursor: pointer;
    border: 3px solid whitesmoke;
    border-radius: 15px;
}

#gallery .container .card{
    height: 400px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 3px solid var(--darkPink);
    border-radius: 10px;
}
#gallery .container .card img{
    width: 250px;
    margin: 0 auto;
    border: 3px solid var(--naturalBlue);
    border-radius: 10px;
}
#gallery .container .card img:hover{
    transform: scale(1.1);
}
#gallery  .container .card h1{
    font-size: 1.8em;
    padding: 20px;

}
#gallery .container .card a{
    color: var(--textColor);
    text-decoration: none;
    padding: 10px;
    border: whitesmoke solid 3px;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--naturalBlue), var(--darkPink));
}
